body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.grid {
  display: grid;
  width: 100%;
  height: 400px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(4, 1fr);
  border: 2px solid black;
}

.row {
  display: contents;
}

.cell {
  border: 1px solid black;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.row1 .cell {
  background-color: #98f8ff;
  color: #000000;
}

.row1:hover .cell {
  background-color: #0077cc;
  color: #ffffff;
}

.row2 .cell {
  background-color: #f5f59a;
  color: #000000;
}

.row2:hover .cell {
  background-color: #ff8800;
  color: #ffffff;
}

.c1 {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
}
.c2 {
  grid-column: 1 / span 2;
  grid-row: 3;
}
.c3 {
  grid-column: 3 / span 2;
  grid-row: 3;
}
.c4 {
  grid-column: 1 / span 2;
  grid-row: 4;
}
.c5 {
  grid-column: 3 / span 2;
  grid-row: 4;
}
.c6 {
  grid-column: 5 / span 4;
  grid-row: 1;
}
.c7 {
  grid-column: 5 / span 2;
  grid-row: 2 / span 2;
}
.c8 {
  grid-column: 7;
  grid-row: 2 / span 3;
}
.c9 {
  grid-column: 8;
  grid-row: 2 / span 3;
}
.c10 {
  grid-column: 5 / span 2;
  grid-row: 4;
}

.flag-position,
.flag-transform {
  position: relative;
  width: 300px;
  height: 200px;
  background: white;
  margin: 30px auto;
  border: 2px solid #777;
  box-sizing: border-box;
}

.circle-position {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #cc0000;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle-transform {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: #cc0000;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(100px, 50px);
}
